* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --white: ;
  --dark-white: ;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: black;
  position: relative;
  /* Needed so the canvas stays positioned correctly */
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 1.5rem;
  color: white;
  font-family: "Poppins", "sans-serif";

  /* Optional: prevents horizontal scroll */
}

header {
  font-size: 2rem;
  justify-content: center;

  display: flex;
  justify-content: space-between;

  padding: 0;
  position: sticky;
  top: 0;
  max-width: 1440px;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
}

ul {
  display: flex;
  gap: 2rem;
  margin-top: 0.5rem;
}

ul li {
  text-decoration: none;
  list-style: none;
}

header img {
  height: 52px;
}

.hero {
  height: 100dvh;
}

.hero-logo img {
  height: 75rem;
  margin: 0;
  padding: 0;
}

.hero-content p {
  font-size: 2.6rem;
  color: rgb(199, 198, 198);
  font-family: "Poppins", sans-serif;
}

.bold {
  color: white;
}

.hero-container {
  display: flex;

  margin-top: 0rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 13rem;
}

.hero-content h1 {
  text-align: center;
  font-size: 7rem;
}

.fade-description {
  height: 120dvh;
  margin-bottom: 15rem;
}

.fade-content {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.fade-content p {
  font-size: 10rem;
  font-family: "Times New Roman", Times, serif;
  width: 75%;
  margin: 0 auto;
  color: rgb(224, 224, 224);
}

.fade-content .fade-two {
  font-size: 10rem;
  text-align: right;
}

.about {
  height: 120dvh;
}

.about-heading {
  text-align: center;
  line-height: 4.5rem;
}

button {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #171717;

  color: rgb(229, 229, 229);
}

.about-heading h1 {
  font-size: 7rem;
  margin: 0rem 5rem;
}

.about-content-james img {
  height: 40rem;
  width: auto;
  border-radius: 3rem;
  box-shadow: 20px 20px 20px rgba(167, 167, 167, 0.25);
}

.about-content-james {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.gallery {
  min-height: 100vh;
  padding: 22rem 0;
}

.gallery-heading {
  text-align: center;
  line-height: 4.5rem;
}

.gallery-heading h1 {
  font-size: 7rem;
}

.splide__slide img {
  width: 30%;
  height: auto;
  display: flex;
  margin: 0 auto;
}

.contact {
  height: 50dvh;
}

footer {
  height: 6.5dvh;
}

footer p {
  font-size: 2rem;
  margin-top: 1rem;
}

hr {
  border-color: white;
}

header ul li {
  height: 1.5em;
  position: relative;
  display: inline-block;
  overflow: hidden;
  opacity: 80%;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

header ul li:hover {
  opacity: 100%;
}

header li span {
  display: block;
  transition: transform 0.2s ease;
  text-decoration: none;
  color: white;
}

a {
  text-decoration: none;
}

header li:hover .about-one {
  transform: translateY(-100%);
}

header li:hover .about-two {
  transform: translateY(-100%);
}

button {
  font-family: "Poppins";
}

.hero-content {
  opacity: 0;
  transform: translateX(1000px);
  filter: blur(10px);
  transition: all 0.8s ease;
}

.hero-content.aos-animate {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.about {
  margin: 15rem 0rem;
}

@media only screen and (max-width: 1376px) {
  .hero-content {
    margin-top: 10rem;
    gap: 1.5rem;
  }

  .hero-content p {
    font-size: 2.4em;
  }

  .fade-content p {
    font-size: 9.5rem;
  }

  .fade-content .fade-two {
    font-size: 9.5rem;
  }

  @media only screen and (max-width: 1272px) {
    .fade-content p {
      font-size: 9rem;
    }

    .fade-content .fade-two {
      font-size: 9rem;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .hero-content {
    margin-top: 8rem;
    gap: 1.5rem;
  }

  .about-content-james {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    gap: 1rem;
  }

  .about {
    margin-bottom: 60rem;
  }
}

@media only screen and (max-width: 1125px) {
  .hero-logo img {
    width: 580px;
  }
}

@media only screen and (max-width: 1040px) {
  .hero-logo img {
    width: 560px;
  }
}

@media only screen and (max-width: 1025px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-logo img {
    height: 45rem;
    width: auto;
  }

  .hero-logo {
    margin: 0 auto;
  }

  .hero-content {
    margin-top: 0em;
    max-width: 80rem;
    margin: 0 auto;
  }

  .fade-content p {
    font-size: 8.5rem;
  }

  .fade-content .fade-two {
    font-size: 8.5rem;
  }

  .gallery {
    height: 70dvh;
  }
}

@media only screen and (max-width: 914px) {
  .about-content-james {
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
  }

  .fade-content p {
    font-size: 8.5rem;
  }

  .fade-content .fade-two {
    font-size: 8.5rem;
  }
}

@media only screen and (max-width: 914px) {
  .fade-content p {
    font-size: 8rem;
  }

  .fade-content .fade-two {
    font-size: 8rem;
  }

  .about {
    margin-bottom: 100rem;
  }
}

@media only screen and (max-width: 794px) {
  .fade-content p {
    font-size: 7.5rem;
  }

  .fade-content .fade-two {
    font-size: 7.5rem;
  }
}

@media only screen and (max-width: 754px) {
  .hero-content p {
    width: 90%;
    margin: 0 auto;
    font-size: 2.2em;
  }
  .fade-content p {
    font-size: 7.5rem;
  }

  .fade-content .fade-two {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 704px) {
  .fade-content p {
    font-size: 7.5rem;
    width: 90%;
  }

  .fade-content .fade-two {
    font-size: 7rem;
  }
}

@media only screen and (max-width: 590px) {
  .splide__slide img {
    width: 60%;
  }
  .hero-content p {
    font-size: 1.8em;
  }

  .hero {
    margin-bottom: 25rem;
  }

  .fade-content p {
    font-size: 6rem;
    width: 90%;
  }

  .fade-content .fade-two {
    font-size: 5.5rem;
  }

  .about-content-james {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center; /* Add this! */
  }

  .about {
    margin-bottom: 265rem;
  }

  .gallery-heading h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 435px) {
  .splide__slide img {
    width: 50%;
  }
  .hero-logo img {
    height: 40rem;
  }

  .hero-content h1 {
    font-size: 6rem;
  }

  .fade-content p {
    font-size: 5rem;
    width: 90%;
  }

  .fade-content .fade-two {
    font-size: 4.5rem;
  }

  .gallery-heading h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 435px) {
  .fade-content p {
    font-size: 4rem;
    width: 90%;
  }

  .fade-content .fade-two {
    font-size: 3.5rem;
  }

  .hero-content p {
    width: 90%;
    margin: 0 auto;
    font-size: 1.6em;
  }

  .fade-description {
    height: 100dvh;
  }

  .about {
    margin-bottom: 265rem;
  }
}

@media only screen and (max-width: 380px) {
  .hero {
    margin-bottom: 40rem;
  }

  .about {
    margin-bottom: 270rem;
  }
}
